@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --radius: 15px;
    --app-width: 600px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: hsla(217, 100%, 50%, 1);

background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.app {
    color: #fdfdfd;
    background-color: #ffffff21;
    width: var(--app-width);
    border-radius: var(--radius);
    padding: 2rem;
    box-shadow: 0 15px 40px -20px black;
}

app h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 28px;
}

.todo-input {
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: var(--radius);
    padding: 1rem 1.5rem;
    font-size: 20px;
    background-color: #f4f4f425;
    color: white;
}

.todo-input::placeholder {
    color: #ffffff70;
}

.todos,
.completed-todos,
.uncompleted-todos {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.todo-item {
    background-color: #f4f4f4bd;
    padding: 1rem 1.5rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    color: black;
}

.todo-item span {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.todo-item input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: lime;
}

.todo-item a {
    color: #555555;
}

.todo-item a svg {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.completed-todos .todo-item {
    background-color: #74c674;
    text-decoration: line-through;
}

.completed-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}